.portfo{
    display: grid; 
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: 1fr 1fr; 
    grid-gap: 80px 50px;
    grid-template-areas: 
    ". title work1 work2 work3 ."
    ". . work4 work5 work6 .";

    .title{
        grid-area: title;
        display: grid;
        align-items: center;
        font-size: 3rem;
        font-family: 'Bebas Neue', cursive;
    }

    img.work1 { 
        grid-area: work1;
        height: 100%;
        transition: height 0.5s;
        &:hover {
            height: 110%;}
    }
    
    img.work2 {
        grid-area: work2;
        height: 100%;
        transition: height 0.5s;
        &:hover {
            height: 110%;}
    }
    
    img.work3 { 
        grid-area: work3;
        height: 100%;
        transition: height 0.5s;
        &:hover {
            height: 110%;}
    }
    
    img.work4 { 
        grid-area: work4;
        height: 100%;
        transition: height 0.5s;
        &:hover {
            height: 110%;}
    }
    
    img.work5 { 
        grid-area: work5;
        height: 100%;
        transition: height 0.5s;
        &:hover {
            height: 110%;}
    }
    
    img.work6 { 
        grid-area: work6;
        height: 100%;
        transition: height 0.5s;
        &:hover {
            height: 110%;}
    }
}

/* RESPONSIVE TABLET */

@media screen and (max-width: 768px){
    body{
        background-color: #ff0000;

        .secciones{
            width: 70%;
        }

        .portfo{
            display: grid;
            justify-items: center;
            align-items: center;
            grid-gap: 20px 20px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas:
            "title title"
            "work1 work2"
            "work3 work4"
            "work5 work6"; 

            img.work1 { 
                grid-area: work1;
                width: 70%; }
            
            img.work2 {
                grid-area: work2; 
                width: 70%;}
            
            img.work3 { 
                grid-area: work3;
                width: 70%; }
            
            img.work4 { 
                grid-area: work4;
                width: 70%; }
            
            img.work5 { 
                grid-area: work5;
                width: 70%; }
            
            img.work6 { 
                grid-area: work6;
                width: 70%; }        
        }

        img.redes ul{
            display: flex;
            flex-direction: row;
            justify-items: center;
            align-content: center;
        }
    }
}


/* RESPONSIVE MOBILE */

@media screen and (max-width: 500px){
    body{
        background-color: #1e1e1e;

        .secciones{
            width: 50%;
        }

        .portfo{
            display: grid;
            justify-items: center;
            align-items: center;
            grid-gap: 20px 20px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(7) 0.5fr;
            grid-template-areas:
            "title"
            "work1"
            "work2"
            "work3"
            "work4"
            "work5"
            "work6"; 

            img.work1 { 
                grid-area: work1;
                width: 50%; }
            
            img.work2 {
                grid-area: work2; 
                width: 50%;}
            
            img.work3 { 
                grid-area: work3;
                width: 50%; }
            
            img.work4 { 
                grid-area: work4;
                width: 50%; }
            
            img.work5 { 
                grid-area: work5;
                width: 50%; }
            
            img.work6 { 
                grid-area: work6;
                width: 50%; }
        }

        img.redes ul{
            display: flex;
            flex-direction: row;
            justify-items: center;
            align-content: center;
        }
    }
}