*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;

    body{
        background-color: #FDF1D7;

        .menu{
            display: flex;
            position: sticky;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            width: 100%;
            font-family: 'Bebas Neue', cursive;

            .logo{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                width: 7rem;
                height: 7rem;
                margin: 1rem;
                padding: 1rem;
            }

            .secciones{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                width: 100%;
                text-decoration: none;
                font-family: 'Bebas Neue', cursive;

                ul{
                    li{
                    color: #ff0000;
                    font-family: 'Bebas Neue', cursive;
                    font-size: 2rem;
                    margin: 1rem;
                    padding: 1rem;
                    display: inline-block;

                        a{
                            text-decoration: none;
                            color: #ff0000;
                            font-family: 'Bebas Neue', cursive;
                            font-weight: 100;
                            &:hover{
                                color: #1e1e1e;
                            }
                        }

                    
                    }            
                }
            }
        }

        .contenedor{
            display: grid; 
            grid-template-columns: 1fr 0.5fr 1fr 1fr; 
            grid-template-rows: 0.10fr 0.20fr 0.05fr; 
            gap: 0px 0px; 
            grid-template-areas: 
            "intro intro intro intro"
            ". foto description ."
            ". foto cv ."; 

            .intro{
                grid-area: intro;
                align-items: center;
                align-content: center;
                width: 100%;
                margin: 1.5rem 2rem;
                padding: 2rem;

                h1{
                    color: #ff0000;
                    font-size: 6rem;
                    font-family: 'Bebas Neue', cursive;
                    text-align: center;
                }
            }

            .foto{
                grid-area: foto;
                width: 500px;
                height: 500px;
            }

            p.description{
                grid-area: description;
                display: grid;
                justify-content: center;
                align-items: center;
                margin: 3rem;
                font-size: 3rem;
                font-family: 'Bebas Neue', cursive;
            }

            a.cv{
                grid-area: cv;
                display: grid;
                justify-content: start;
                align-items: flex-start;
                font-family: 'Bebas Neue', cursive;
                font-size: 3rem;
                /* margin: 3rem; */
                color: #ff0000;
                font-weight: 900;
                text-decoration: none;
                transition: font-size 1s;

                &:hover{
                    font-size: 3.5rem;
                    color: #1e1e1e;
                }
            }
        }

        footer{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            font-size: 1.2rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}

/* RESPONSIVE TABLET */

@media screen and (max-width: 768px){
    body{
        background-color: #ff0000;

        li a{
            color: #FDF1D7;
        }

        .contenedor{
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: 0.5fr 1fr 0.5fr;
            grid-template-areas:
            "intro intro intro"
            ". foto ."
            ". description ."
            ". cv ."; 

            .intro{
                grid-area: intro;
                display: grid;

                h1{
                    display: grid;
                    color:#FDF1D7; 
                }
            }

            .foto{
                grid-area: foto;
                display: grid;
                width: 400px;
                height: 400px;
            }

            p.description{
                grid-area: description;
                display: grid;
                text-align: center;
            }

            a.cv{
                display: grid;
                grid-area: cv;
                color: #FDF1D7;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

/* RESPONSIVE MOBILE */

@media screen and (max-width: 500px){
    body{
        background-color: #1e1e1e;

        ul li{
            display: flex;
            flex-direction: column;
        }

        li a{
            color: #ff0000;
        }

        .contenedor{
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: 0.5fr 1fr 0.5fr;
            grid-template-areas:
            "intro intro intro"
            ". foto ."
            ". description ."
            ". cv ."; 

            .intro{
                grid-area: intro;
                display: grid;

                h1{
                    display: grid;
                    color: #ff0000; 
                }
            }

            .foto{
                grid-area: foto;
                display: grid;
                width: 400px;
                height: 400px;
            }

            p.description{
                color: #FDF1D7;
                grid-area: description;
                display: grid;
                text-align: center;
            }

            a.cv{
                display: grid;
                grid-area: cv;
                color: #ff0000;
                justify-content: center;
                align-items: center;
            }
        }
        .redes ul{
            display: flex;
            flex-direction: row;
            justify-items: center;
            align-content: center;
        }
    }
}


@import "contact";

@import "aboutme";

@import "newest";

@import "portfolio";

@import "skills";